# EditorConfig is awesome: http://EditorConfig.org

# I've commented out stuff I'd normally have in the
# recommendations property, since this is repository
# doesn't require them.

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# [*.yaml]
# indent_size = 2
# tab_width = 2
